{% extends "./base_login.html" %}
{% block title %}
Forgot password
{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href='{{url_for("static", filename = "css/login.css")}}'>
{% endblock %}

{% block body %}
<article class="position-absolute top-50 start-50 translate-middle border border-dark rounded-3 bg-light p-4">
    <div class="text-start">
        <a href="{{ url_for('auth.login') }}" class="btn btn-outline-secondary mb-3">Volver Atrás</a>
    </div>
    <section class="w-100">
        <h1 class="text-center">    
            Restablecer Contraseña
        </h1>
        <p class="text-center">
            Ingresa tu correo electrónico y te enviaremos un enlace para restablecer su contraseña.
        </p>
    </section>
    <main class="form-signin ">
        <form action="/sign_up/forgot_password" method="POST">
            <div class="form-floating">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="email" class="form-control" id="emailAddress" name="emailAddress" required placeholder="emailAddress">
                <label for="emailAddress">Correo </label>
            </div>
            <button class="w-100 btn-lg btn mt-1 btn-outline-dark" type="submit">Restablecer</button>
        </form>
    </main>
</article>
{% endblock %}