{% extends "./base_login.html" %}
{% block title %}
Forgot password
{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href='{{url_for("static", filename = "css/login.css")}}'>
{% endblock %}

{% block body %}
<article class="position-absolute top-50 start-50 translate-middle border border-dark rounded-3 bg-light p-4">
    <div class="text-start">
        <a href="{{ url_for('login') }}" class="btn btn-outline-secondary mb-3">Volver Atrás</a>
    </div>
    <section class="w-100">
        <h1 class="text-center">    
            Restablecer Contraseña
        </h1>
        <p class="text-center">
            Ingresa una nueva contraseña mayor a 8 carateres y vuelva a repetirla para restablecerla.
        </p>
    </section>
    <main class="form-signin">
        <form action="{{url_for('update_forgot_password', token = token)}}" method="POST">
            {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <br>
                        {%for message in messages %}
                        <div class="alert alert-primary alert-dismissible" role="alert">
                            <strong>{{message}}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        <br>
                    {% endif %}
                {% endwith %}
            <div class="form-floating">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required minlength="8">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="repeat_password" required minlength="8">
                <label for="floatingPassword">Repetir contraseña </label>
            </div>
            <button class="w-100 btn-lg btn mt-1 btn-outline-dark" type="submit">Restablecer</button>
        </form>
    </main>
</article>
{% endblock %}